:root {
  --darkGray: rgb(22, 22, 22);
  --mediumGray: rgb(31, 31, 31);
  --lightGray: rgba(224, 212, 212, 0.596);
  --lightGray2: rgb(224, 212, 212);
  --hotPink: rgb(255, 109, 199);
}

body {
  background-color: black;
}

/*HOMEPAGE*/
.welcomeHomepage {
  color: white;
  text-align: center;
  /* border: 2px solid white; */
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 70px;
}

.characterCardsContainer {
  display: flex;
  flex-wrap: wrap;
}

.characterCard {
  padding-bottom: 10px;
  background-color: var(--mediumGray);
  border-radius: 25px;
  border: none;
  width: 25%;
  margin-left: 6%;
}

.characterName {
  color: var(--hotPink);
  line-height: 1.2;
  padding-bottom: 10px;
}

.characterImg {
  background-color: white;
}

.characterHP,
.characterAttack,
.characterExperience,
.characterLevel {
  color: white;
  line-height: 1.6;
}

.resumeGame,
.deleteGame {
  border-radius: 25px;
  background-color: var(--hotPink);
  padding: 6px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  transition: box-shadow 0.3s;
  display: inline-flex;
  flex-wrap: wrap;
  /* justify-content: center; NOT WORKING TO CENTER BUTTONS ON SMALLER SCREEN. WORKS WITH DISPLAY FLEX BUT THEN ON BIGGER SCREENS, IT PUTS THE BUTTONS ON 2 LINES INSTEAD OF ONE */
}

.resumeGame:hover,
.deleteGame:hover {
  box-shadow: 3px 3px 8px var(--lightGray);
}

.resumeGame {
  margin-right: 10px;
}

.startNewGameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.startNewGame {
  background-color: var(--hotPink);
  color: black;
  border-radius: 25px;
  padding: 7px;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 24px;
  font-weight: bold;
}

.container {
  border: solid 2px green;
}

/* STORY PAGE */
.storyContainer {
  border: solid 2px yellow; /* cant make this equal the whole width of the page or center on the screen */
}

.storyImgContainer {
  border: solid 2px red;
}

.dojo-pic {
  position: relative;
  z-index: -1;
}

.storyDescContainer {
  border: 2px solid blue;
  margin-top: -15%;
  display: flex;
  background-color: var(--darkGray);
  opacity: 0.85;
  z-index: 1;
}

.storyDescContainer p {
  color: white;
  padding: 15px;
}

.storyNextBtn {
  border-radius: 20px;
  background-color: yellow;
  padding: 7px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 24px;
  font-weight: bold;
}

.storyNext {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
  padding-bottom: 20px;
}
