/* * {
  pi
} */

:root {
  --darkGray: rgb(22, 22, 22);
  --mediumGray: rgb(31, 31, 31);
  --lightGray: rgba(224, 212, 212, 0.596);
  --lightGray2: rgb(224, 212, 212);
  --hotPink: rgb(255, 109, 199);
  --red: rgb(177, 19, 19);
}

body {
  background-color: black;
}

/*LOGIN and SIGNUP PAGE*/

.signupPageContainer,
.loginPageContainer {
  border: 2px solid pink;
  width: 100vw;
}

.signupContainer,
.loginContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
  border: 2px purple solid;
}

.signupCard,
.loginCard {
  background-color: var(--mediumGray);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  width: 45%;
  border: none;
}

.signupForm,
.loginForm {
  border: 2px solid red;
  width: 115%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.signupTitle,
.loginTitle {
  text-align: center;
  color: white;
}

.loginTitle {
  margin-bottom: 25px;
}

.usernameDiv,
.emailDiv,
.passwordDiv,
.confirmDiv {
  border: 2px solid teal;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-bottom: 9px;
  box-sizing: border-box;
  color: white;
  width: 100%;
}

.usernameSignupInput,
.emailSignupInput,
.passwordSignupInput,
.confirmSignupInput {
  float: right;
  width: 70%;
  padding-left: 6px;
  color: var(--darkGray);
}

.usernameLoginInput,
.passwordLoginInput {
  float: right;
  width: 68%;
  padding-left: 6px;
  color: var(--darkGray);
}

.submitBtnDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submitSignupBtn,
.submitLoginBtn {
  background-color: var(--hotPink);
  border-radius: 25px;
  width: 50%;
}

.loginInstead,
.signupInstead {
  color: white;
  margin-top: 10px;
  text-align: center;
}

.footerContainer {
  color: white;
  border: 2px solid tan;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.headerContainer {
  border: 2px solid tan;
  display: block;
  text-align: center;
}

.ninjaImgDiv {
  border: 2px solid brown;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ninjaImg {
  width: 10%;
  height: auto;
}

.headerText {
  color: var(--hotPink);
  border: 2px solid orange;
}

.headerTitle {
  font-weight: bold;
  font-size: 32px;
}

.headerSubtitle {
  margin-bottom: 20px;
}

.meetTeam,
.copyright {
  border: 2px solid blue;
  width: 20%;
  display: inline;
  font-size: 18px;
}

.copyright {
  margin-left: 45px;
  display: flex;
  justify-content: flex-start;
}

.meetTeam {
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
}

/*HOMEPAGE*/
.welcomeHomepage {
  color: white;
  text-align: center;
  /* border: 2px solid white; */
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 70px;
}

.characterCardsContainer {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid yellow; */
  width: 99vw;
}

.characterCard {
  padding-bottom: 10px;
  background-color: var(--mediumGray);
  border-radius: 25px;
  border: none;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.characterName {
  color: var(--hotPink);
  line-height: 1.2;
  padding-bottom: 10px;
}

.characterImg {
  background-color: white;
}

.characterHP2,
.characterAttack2,
.characterExperience,
.characterLevel {
  color: white;
  line-height: 1.6;
}

.resumeGame,
.deleteGame {
  border-radius: 25px;
  background-color: var(--hotPink);
  padding: 6px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  transition: box-shadow 0.3s;
  display: inline-flex;
  flex-wrap: wrap;
}

.resumeGame:hover,
.deleteGame:hover {
  box-shadow: 3px 3px 8px var(--lightGray);
}

.resumeGame {
  margin-right: 10px;
}

.startNewGameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.startNewGame {
  background-color: var(--hotPink);
  color: black;
  border-radius: 25px;
  padding: 7px;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 24px;
  font-weight: bold;
}

.container {
  border: solid 2px green;
  width: 100vw; /*whjy isnt it equal to the width of screen and image???*/
  height: 100vh;
}

/* STORY PAGE */
.storyContainer {
  /* border: solid 2px yellow; cant make this equal the whole width of the page or center on the screen */
}

.storyImgContainer {
  /* border: solid 2px red; */
  /* background-image: url("./images/dojo.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */
}

.dojo-pic {
  position: relative;
  z-index: -1;
  margin-left: 10px;
}

.storyDescContainer {
  /* border: 2px solid blue; */
  margin-top: -15%;
  display: flex;
  background-color: rgb(22, 22, 22, 0.85);
  z-index: 1;
  margin-left: 10px;
  width: 100%;
}

.storyDescContainer p {
  color: white;
  padding: 15px;
}

.storyNextBtn {
  border-radius: 20px;
  background-color: yellow;
  padding: 7px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 24px;
  font-weight: bold;
}

.storyNext {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}

/* PAUSE PAGE */
.pausePageDiv {
  color: white;
  /* border: 2px solid pink; */
}

.pausePageDiv h1 {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  margin-top: 30px;
}

.StatsSection {
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.characterName2 {
  margin: 0; /* cant get character name to move up on the card */
}

.statsCard {
  width: 35%;
}

.pauseBtnsDiv {
  /* border: 2px solid purple; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pauseBtnsDiv button {
  background-color: yellow;
  border-radius: 25px;
  margin-right: 8px;
  padding: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
}

.characterImgPauseDiv {
  /* border: 2px solid orange; */
  margin-top: 10px;
}

.characterImgPause {
}

/* ---------------------------------------- */
/* FIGHT PAGE */

.fightPageContainer {
  /* border: 2px rgb(121, 92, 121) solid; */
  display: relative;
  z-index: 1;
  width: 100%;
  margin-left: 4px;
}

.fightBackgroundImg {
  /* border: 2px solid red; */
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: -1;
  top: 12%;
  position: absolute;
}

.fightPageContainer h1 {
  color: var(--red);
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  margin-top: 5px;
}

.fightDiv {
  /* border: 2px solid teal; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 250px;
}

.fightDiv2 {
  /* border: 2px solid silver; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.characterFight,
.enemyFight {
  /* border: 2px yellow solid; */
  height: 170px;
  background-color: rgb(31, 31, 31, 0.9);
  color: #ffffff;
  width: 20%;
  text-align: center;
}

.characterFight {
  margin-left: 15px;
}

.enemyFight {
  margin-right: 15px;
}

.characterFightImg,
.enemyFightImg {
  /* border: 2px white solid;
  background-color: violet; */
  width: 85px;
  height: auto;
}

.characterFightImgDiv,
.enemyFightImgDiv {
  /* border: 2px white solid;
  background-color: violet; */
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.characterFightName,
.enemyFightName {
  margin-bottom: 8px;
  margin-top: 2px;
  font-size: 20px;
  font-weight: bold;
}

.healthBar,
.enemyHealthBar {
  border: 2px solid green;
  background-color: green;
  margin-top: 10px;
}

.enemyStats,
.characterStats {
  /* border: 2px solid green; */
  display: flex;
  margin-top: 10px;
}

.enemyHP,
.characterHP {
  border: 2px solid var(--red);
  background-color: var(--red);
  width: 44%;
  text-align: center;
  margin-right: 4%;
  margin-left: 4%;
}

.enemyAttack,
.characterAttack {
  border: 2px solid var(--red);
  background-color: var(--red);
  width: 44%;
  margin-right: 4%;
  text-align: center;
}

.startBtnDiv {
  /* border: 2px solid pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(31, 31, 31, 0.9);
  height: 80px;
  width: 140px;
}

.startBtn {
  background-color: var(--red);
  border-radius: 25px;
  padding: 3px;
  font-size: 22px;
  font-weight: bold;
}

/* question portion of fight */
.questionForm {
  width: 50%;
  border: solid 5px var(--red);
  background-color: var(--mediumGray);
}

.answerChoices {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--mediumGray);
}

.question {
  font-size: 20px;
  margin-bottom: 5px;
}
.answerDiv {
  /* border: 2px solid yellow; */
  padding: 5px;
  margin-top: 5px;
}

.submitBtn {
  border: 4px solid var(--red);
  background-color: var(--darkGray);
  border-radius: 25px;
}

.submitBtn:hover {
  background-color: var(--red);
}

.radioLabel {
  display: block;
  position: relative;
  padding-left: 5px;
  cursor: pointer;
  font-size: 20px;
}

.radio {
  margin-right: 10px;
}
/*
.radioBtn {
  position: absolute;
  top: 3px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--darkGray);
  border: 2px solid black;
}

.radioLabel:hover input ~ .radio {
  background-color: white;
}
*/
.radioLabel input:active ~ .radio {
  background-color: var(--red);
}

.radioLabel input:checked ~ .radio {
  background-color: var(--red);
}

.radio:after {
  content: "";
  position: absolute;
  display: none;
}

.radioLabel input:checked ~ .radio:after {
  display: block;
}

.radioLabel .radio:after {
  left: 8px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
*/

/* map */
.statsCard2 {
  background-color: #1549d746;
  margin-top: 0;
}

.characterName3,
.characterHP3,
.characterAttack3,
.characterExperience3,
.characterLevel3 {
  color: white;
}

.instructions {
  background-color: #07682180;
  text-align: center;
  font-size: 20px;
}

.instructions p {
  padding: 10px;
}

/* question answer modal */

.modalBehindBackground {
  background-color: var(--darkGray);
}
.modalBackground {
  background-color: var(--lightGray2);
}

.icon {
  color: var(--red);
}

.modalTitle {
  font-size: 32px;
}

.modalP {
  font-size: 20px;
  color: var(--darkGray);
}

.congratsReturnBtn {
  background-color: var(--red);
}

.congratsReturnBtn:hover {
  background-color: rgb(134, 14, 14);
}

/* QUIT PAGE */

.QuitGameDiv {
  /* border: 2px solid yellow; */
  height: 100vh;
  width: 100vw;
}

.quitPageTitle {
  font-size: 32px;
  font-weight: bold;
  color: white;
  /* border: 2px solid purple; */
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.quitPageSubtitle {
  font-size: 24px;
  color: white;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
}

.quitScores {
  /* border: 2px solid orange; */
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.startNewGameDiv {
  /* border: 2px solid greenyellow; */
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

/* additional media queries */
@media screen and (max-width: 992px) {
  /*homepage*/
  .resumeGame,
  .deleteGame {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  /*homepage*/
  .characterCard {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .startNewGameContainer {
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .resumeGame,
  .deleteGame {
    display: flex;
    justify-content: center;
  }
  /* Story page */
  .storyDescContainer {
    margin-top: -20%;
  }
  /*fightpage*/
  .characterFight,
  .enemyFight {
    width: 30%;
  }
  /* .characterFightQuestionPage,
  .enemyFightQuestionPage {
   visibility: hidden; 
    border: 2px solid pink;
  } COME BACK TO THIS SHIT *** */
}

@media screen and (max-width: 576px) {
  /*homepage*/
  .characterCardsContainer {
    display: block;
  }
  .characterCard {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  .startNewGameContainer {
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .resumeGame,
  .deleteGame {
    display: flex;
    justify-content: center;
  }
  /* Story page */
  .storyDescContainer {
    margin-top: -25%;
  }
}

@media screen and (max-width: 376px) {
  /* Story page */
  .storyDescContainer {
    margin-top: -55%;
  }
}
/*MEET TEAM PAGE*/
.MeetTeamPageContainer {
  border: 2px solid white;
  /* background-color: black; */
  width: 100vw;
}

.meetTeamTitle {
  color: black;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
}

.CB,
.ZK,
.JR,
.MW {
  border: 2px solid orange;
  width: 100%;
}

.profilePic {
  height: auto;
}

.teamSubtitle {
  font-style: italic;
}

.contact-item {
  display: inline;
  margin-right: 10px;
  font-size: 30px;
}

.meetReturnBtn {
  background-color: white;
}
/*ADD MEDIA QUERIES for team page*/

.test {
  color: white;
}
