.gameMap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    
}

Canvas {
    /* position:absolute; */
    top: 144px; 
    left:320px;
}

.gameBox {
    display: flex;
    align-items: center;
    justify-content: center;
    }

.mapIcons {
    padding: 5px;
    border: 2px solid white;
}

.otherGameContainer {
    flex-direction:column;
}


@media only screen and (min-width: 1200px) {
    .otherGameContainer {
        flex-direction: row;

    }
}
